{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode zstd gzip

  request_body {
    max_size 150MB
  }

  reverse_proxy web-tool-pdf:3000 {
    transport http {
      read_timeout 30m
      write_timeout 30m
    }
  }

  header {
    -Server
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
  }
}
